<section>
  <article>
    <h1>{{'title' | translate}}</h1>
    <p>{{'description' | translate }}</p>
  </article>

  <mat-form-field class='field'>
    <mat-label>{{'language' | translate}}</mat-label>
    <mat-select (selectionChange)="changeLang($event.value)" [(ngModel)]="lang">
      <mat-option value="en">
        English
      </mat-option>
      <mat-option value="es">
        Español
      </mat-option>
      <mat-option value="pt">
        Português
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>
